body { font-family: Arial, sans-serif; padding: 20px; }
.controls { margin-bottom: 20px; }

table { border-collapse: collapse; width: 100%; table-layout: fixed; }
td, th { border: 1px solid #999; text-align: center; padding: 2px; font-size: 12px; }

.counterCell { width: 50px; height: 25px; }
.closed { background-color: #fff; color: #999; }

.highlight1 { background: #4CAF50; color:white;} /* base roster green */
.highlight2 { background: #2196F3; color:white;} /* SOS blue */
.highlight3 { background: #FF9800; color:white;} /* OT orange */
